@charset "utf-8";
@import url(../../../Build/Cesium/Widgets/widgets.css);

html, body, #cesiumContainer {
  width: 100%; 
  height: 100%; 
  overflow: hidden;
} 

* {
  margin: 0;
  padding: 0;
  border: 0px;
}

video {
  height:100%; 
  width:100%;
  background-color: white;
  object-fit: cover;
}

